{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">
            <div class="row">             
                
                <div class="container">
                    <div class="row">
                                <div class="w-100 d-block bg-white shadow-lg rounded my-5">
                                    <div class="row">
                                        <div class="col-lg-5 d-none d-lg-block bg-register rounded-left">
                                            <!-- image reside here -->
                                            <!-- <img src="{% static 'images/wall.jpg' %}" alt=""> -->
                                        </div>
                                        <div class="col-lg-7">
                                            <div class="p-5">
                                                <div class="text-center mb-5">
                                                    <a href="#" class="text-dark font-size-22 font-family-secondary">
                                                        <i class="mdi mdi-alpha-x-circle"></i> <b>Print Stickers</b>
                                                    </a>
                                                </div>
                                                <form id="sticker_form" action="{% url 'sticker_form' %}" method="post" enctype="multipart/form-data">
                                                    {% csrf_token %}

                                                    <div class="form-group">
                                                      <label for="entire-sheet-label" class="custom-radio-label">
                                                        <input type="radio" id="entire-sheet-label" name="label-type" onchange="handleLabelTypeChange()" checked>
                                                        For The Entire Cells
                                                      </label>
                                                      <select id="entire-sheet-dropdown" name="entire-sheet-dropdown" class="form-control" data-toggle="select2">
                                                        <optgroup label="choose labels">
                                                          {% for option in options %}
                                                          <option value="{{option}}">{{ option }}</option>
                                                          {% endfor %}
                                                        </optgroup>
                                                      </select>
                                                    </div>
                                                  
                                                    <div class="form-group">
                                                      <label for="rows-columns-label" class="custom-radio-label">
                                                        <input type="radio" id="rows-columns-label" name="label-type" onchange="handleLabelTypeChange()">
                                                        For The Specific Cells
                                                      </label>
                                                      <select id="selectedLabel" name="selectedLabel" onchange="handleLabelTypeChange()" disabled class="form-control" data-toggle="select2">
                                                        <optgroup label="choose labels">
                                                          {% for option in options %}
                                                          <option value="{{option}}">{{ option }}</option>
                                                          {% endfor %}
                                                        </optgroup>
                                                      </select>
                                                      <label>Starting cell number:</label>
                                                      <select id="starting_cell_number" name="starting_cell_number" onchange="handleCellNumberChange()" disabled class="form-control" data-toggle="select2"></select>
                                                      <label>Ending cell number:</label>
                                                      <select id="ending_cell_number" name="ending_cell_number" disabled class="form-control" data-toggle="select2"></select>
                                                    </div>
                                                    <div class="form-group">
                                                      <label for="formFile" class="form-label">Upload CSV File:</label>
                                                      <input type="file" id="formFile" name="csv" accept=".csv" required class="form-control">
                                                    </div>
                                                    <div class="form-group">
                                                      <input type="submit" id="submit-btn" value="Submit" class="btn btn-primary">
                                                    </div>
                                                  </form>
                                                  
                                            </div> <!-- end .padding-5 -->
                                        </div> <!-- end col -->
                                    </div> <!-- end row -->
                                </div> <!-- end .w-100 -->
                            </div> <!-- end .d-flex -->
                        </div> <!-- end col-->
                    </div> <!-- end row -->
                </div>


            </div>
            <!--end row-->



        </div> <!-- container-fluid -->
    </div>
    <!-- End Page-content -->

    {% include 'footer.html' %}

</div>

<style>
  .custom-radio-label {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    color: #132843;
    font-weight: bold;
  }
  
  .radio-button {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #132843;
    margin-right: 5px;
  }
  
  input[type="radio"]:checked + .radio-button {
    background-color: #132843;
  }
  
  input[type="radio"]:checked + .radio-button:before {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
  }
  
  .custom-radio-label:hover .radio-button {
    border-color: #132843;
  }
  
</style>

{% endblock %}