{% extends 'base.html' %}
{% block content %}    
    <table>
        <tr>
            <th>Font</th>
            <th>Emphasis</th>
            <th>Text Size</th>
            <th>Text Color</th>
            <th></th>
        </tr>
        <tr>
            <td>{{setting_data.get_font_display}}</td>
            <td>{{setting_data.get_emphasis_display}}</td>
            <td>{{setting_data.text_size}}</td>
            <td>{{setting_data.text_color}}</td>
            <td><a href="{% url 'edit_config' %}">Edit</a></td>
        </tr>
    </table>
{% endblock %}