{% extends 'base.html' %}
{% block content %}
<script>
    {% if response.status == "Completed" %}
    alert("Payment successful! Your transaction ID is {{ response.transaction_id }}.");
    window.location.href = "{% url 'profile' %}"
    {% elif response.status == "Pending" %}
    alert("Your payment is pending. Please wait for it to be completed.");
    window.location.href = "{% url 'profile' %}"
    {% elif response.status == "Refunded" %}
    alert("Your payment has been refunded.");
    window.location.href = "{% url 'checkout' %}"
    {% elif response.status == "Expired" %}
    alert("Your payment has expired.");
    window.location.href = "{% url 'profile' %}"
    {% else %}
    alert("{{payment_message}}");
    window.location.href = "{% url 'profile' %}"
    {% endif %}


</script>
{% endblock %}
