{% extends 'base.html' %}
{% block content %}

{% if 'subscribers' in groups %}
    <!-- User is subscribed -->
    <h2>Your subscription is active</h2>
    <div class="container-for-subscription">
        <p>    
        <a href="{% url 'api_request' %}" class="subscribe-button">Extend Subscription</a>
        </p>
        </div>  
{% else %}
    <!-- User is not subscribed -->
    <div class="container-for-subscription">
    <p>    
    <a href="{% url 'api_request' %}" class="subscribe-button">Subscribe via Khalti</a>
    </p>
    </div>    
{% endif %}

{% endblock %}






