{% extends 'base.html' %}
{% block content %}

<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-9">
                    <div class="card">
                        <div class="card-body">
                            {% if payment_details %}
                            <h2 class="card-title">Subscription Details</h2>
                            

                            <div class="table-responsive">
                                <table class="table table-centered table-striped table-nowrap mb-0">
                                    <thead>
                                        <tr>
                                            <th>Subscription Plan</th>
                                            <th>Phone</th>
                                            <th>Email</th>
                                            <th>Price</th>
                                            <th>Subscribed Date</th>
                                            <th>Expiry Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for payment in payment_details %}
                                        <tr>
                                            <td>
                                                {{payment.subscription}} plan
                                            </td>
                                            <td>
                                                {{payment.profile.phone}}
                                            </td>
                                            <td>
                                                {{payment.profile.email}}
                                            </td>
                                            <td>
                                                {{payment.amount}}
                                            </td>
                                            <td>
                                                {{payment.payment_date}}
                                            </td>
                                            <td>
                                                {{payment.expiry_date}}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% else %}
                            <div class="alert alert-success mb-0" role="alert">
                                <h5 class="alert-heading">Welcome, {{request.user}}!!!</h5>
                                <p>Please, subscribe or renew any of the following package. You can pay via. Khalti, e-Banking, Mobile Banking, Connect IPS or FonePay QR for the subscription charge.</p>
                                <hr>
                                <p class="mb-0">If any issue, kinldy contact us at +9779864272700.</p>
                            </div>
                            {% endif %}
                        </div>
                        <!--end card body-->
                        <!--end card body-->
                    </div> <!-- end card-->
                </div> <!-- end col -->

                <div class="col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h4 class="card-title">Subscription Status</h4>
                                    {% if 'subscribers' in groups %}
                                    <p class="card-subtitle mb-4">
                                        <span class="badge badge-success badge-pill">Active</span>
                                    </p>
                                    {% else %}
                                    <p class="card-subtitle mb-4">
                                        <span class="badge badge-dark badge-pill">Inactive</span>
                                    </p>
                                    {% endif %}
                                </div>
                            </div> <!-- end row -->
                        </div>
                        <!--end card body-->
                    </div>
                    <!--end card-->
                </div><!-- end col -->
            </div>

        </div> <!-- container-fluid -->

        {% if 'subscribers' not in groups or extend_subscription_button %}
        <div class="row justify-content-center align-items-center">
            <div class="col-xl-10">
    
                <!-- Plans -->
                <div class="row mt-sm-5 mt-3 mb-3">
                    <div class="col-md-4">
                        <div class="card card-pricing">
                            <div class="card-body text-center">
                                <i class="card-pricing-icon mdi mdi-umbrella text-white bg-success"></i>
                                <h5 class="font-weight-bold mt-4 text-uppercase text-success">{{plans.1.name}}</h5>
                                <ul class="card-pricing-features">
                                    <li>{{plans.1.description}}</li>
                                </ul>
    
                                <h2 class="mt-4">NPR. {{plans.1.price}}</h2>
                                {% if extend_subscription_button %}
                                <a href="{% url 'api_request' plans.1.id %}"><button class="btn btn-success mt-4 mb-2 btn-rounded">Extend Subscription <i class="mdi mdi-arrow-right ml-1"></i></button></a>
                                {% else %}
                                <a href="{% url 'api_request' plans.1.id %}"><button class="btn btn-success mt-4 mb-2 btn-rounded">Subscribe for 3 Months <i class="mdi mdi-arrow-right ml-1"></i></button></a>
                                {% endif %}
                                
                            </div>
                        </div> <!-- end Pricing_card -->
                    </div> <!-- end col -->
    
                    <div class="col-md-4">
                        <div class="card card-pricing">
                            <div class="card-body text-center">
                                <i class="card-pricing-icon mdi mdi mdi-trophy-award text-white bg-primary"></i>
                                <h5 class="font-weight-bold mt-4 text-uppercase">{{plans.0.name}}</h5>
                                <ul class="card-pricing-features">
                                    <li>{{plans.0.description}}</li>
                                </ul>
    
                                <h2 class="mt-4">NPR. {{plans.0.price}}</h2>
                                {% if extend_subscription_button %}
                                <a href="{% url 'api_request' plans.0.id %}"><button class="btn btn-primary mt-4 mb-2 btn-rounded">Extend Subscription<i class="mdi mdi-arrow-right ml-1"></i></button></a>
                                {% else %}
                                <a href="{% url 'api_request' plans.0.id %}"><button class="btn btn-primary mt-4 mb-2 btn-rounded">Subscribe for 12 Months <i class="mdi mdi-arrow-right ml-1"></i></button></a>
                                {% endif %}
                            </div>
                        </div> <!-- end Pricing_card -->
                    </div> <!-- end col -->
    
                </div>
                <!-- end row -->
    
            </div> <!-- end col-->
        </div>
        {% endif %}

    </div>
    <!-- End Page-content -->
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    LabelPro @ 2023.
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-right d-none d-sm-block">
                        System by Danfe Solutions
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>








{% endblock %}