{% extends 'quitox/base.html' %}
{% load static %}
{% block content %}

<main>

   <div class="tp-header-bg">
      <img src="{% static 'quitox/assets/img/hero/hero-bg-2.png' %}" alt="">
   </div>

   <!-- tp-slider-area-start -->
   <div class="tp-hero__area tp-hero__bg-2">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-xl-9 col-12">
               <div class="tp-hero__wrapper text-center">
                  <div class="tp-hero__content text-center">
                     <h2 class="tp-hero__title-lg pb-40 theme-color wow tpfadeUp" data-wow-duration=".9s"
                        data-wow-delay=".3s">QR Label Sticker Printing <span>LabelPro</span> Software.
                     </h2>
                     <p><strong>LabelPro</strong> is simple cloud (web) based software to generate QR based configurable Label Strickers in A4 sticker page. You can print the generated label with your printer and start sticking. You do not need any extra hardware and cost.</p>
                  </div>
                  <div class="tp-app__download pb-40 wow tpfadeUp" data-wow-duration=".9s" data-wow-delay=".5s">
                     <div class="tp-app__thumb-sm d-flex justify-content-center">
                        <div class="tp-app__thumb-sm-1">
                           <a href="#"><img src="{% static 'quitox/assets/img/app/app-2.png' %}" alt="app-2"></a>
                        </div>
                        <div class="tp-app__thumb-sm-2">
                           <a href="#"><img src="assets/img/app/app-3.png" alt=""></a>
                        </div>
                     </div>
                  </div>
                  <div class="tp-hero__contact pb-70 wow tpfadeUp" data-wow-duration=".9s" data-wow-delay=".7s">
                     <a href="#">Just get your printed sticker with less than <b>10 Paisa</b></a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- tp-slider-area-end -->

   <!-- tp-feature-area-start -->
   <div class="tp-feature__area pt-120 pb-120">
      <div class="container">
         <div class="row">
            <div class="col-12">
               <div class="tp-feature__section text-center mb-70">
                  <h3 class="tp-section-title wow tpfadeUp" data-wow-duration=".9s" data-wow-delay=".3s">How to use the
                     Software</h3>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 wow tpfadeUp" data-wow-duration=".9s" data-wow-delay=".5s">
               <div class="tp-feature__item mb-30 text-center">
                  <div class="tp-feature__icon">
                     <img src="{% static 'quitox/assets/img/feature/fea-2-1.png' %}" alt="">
                  </div>
                  <div class="tp-feature__content">
                     <h4 class="tp-feature__title-sm">Subscribe</h4>
                     <p>Subscribe this <strong>LabelPro</strong> Software either for 3 months or 12 months.</p>
                  </div>
                  <div class="tp-feature__link pt-50">
                     <a href="#">
                        <svg width="39" height="16" viewBox="0 0 39 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path
                              d="M38.7071 8.70711C39.0976 8.31658 39.0976 7.68342 38.7071 7.29289L32.3431 0.928932C31.9526 0.538408 31.3195 0.538408 30.9289 0.928932C30.5384 1.31946 30.5384 1.95262 30.9289 2.34315L36.5858 8L30.9289 13.6569C30.5384 14.0474 30.5384 14.6805 30.9289 15.0711C31.3195 15.4616 31.9526 15.4616 32.3431 15.0711L38.7071 8.70711ZM0 9H38V7H0V9Z"
                              fill="currentColor" />
                        </svg>
                     </a>
                  </div>
               </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 wow tpfadeUp" data-wow-duration=".9s" data-wow-delay=".7s">
               <div class="tp-feature__item mb-30 text-center">
                  <div class="tp-feature__icon">
                     <img src="{% static 'quitox/assets/img/feature/fea-2-2.png' %}" alt="">
                  </div>
                  <div class="tp-feature__content">
                     <h4 class="tp-feature__title-sm">Excel Data Sheet</h4>
                     <p>Store all your label data info in excel sheet as per the defined format. </p>
                  </div>
                  <div class="tp-feature__link pt-50">
                     <a href="#">
                        <svg width="39" height="16" viewBox="0 0 39 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path
                              d="M38.7071 8.70711C39.0976 8.31658 39.0976 7.68342 38.7071 7.29289L32.3431 0.928932C31.9526 0.538408 31.3195 0.538408 30.9289 0.928932C30.5384 1.31946 30.5384 1.95262 30.9289 2.34315L36.5858 8L30.9289 13.6569C30.5384 14.0474 30.5384 14.6805 30.9289 15.0711C31.3195 15.4616 31.9526 15.4616 32.3431 15.0711L38.7071 8.70711ZM0 9H38V7H0V9Z"
                              fill="currentColor" />
                        </svg>
                     </a>
                  </div>
               </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 wow tpfadeUp" data-wow-duration=".9s" data-wow-delay=".9s">
               <div class="tp-feature__item mb-30 text-center">
                  <div class="tp-feature__icon">
                     <img src="{% static 'quitox/assets/img/feature/fea-2-3.png' %}" alt="">
                  </div>
                  <div class="tp-feature__content">
                     <h4 class="tp-feature__title-sm">Print & Stick</h4>
                     <p>Generate label sticker in A4 Size and then print using normal printer.</p>
                  </div>
                  <div class="tp-feature__link pt-50">
                     <a href="#">
                        <svg width="39" height="16" viewBox="0 0 39 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path
                              d="M38.7071 8.70711C39.0976 8.31658 39.0976 7.68342 38.7071 7.29289L32.3431 0.928932C31.9526 0.538408 31.3195 0.538408 30.9289 0.928932C30.5384 1.31946 30.5384 1.95262 30.9289 2.34315L36.5858 8L30.9289 13.6569C30.5384 14.0474 30.5384 14.6805 30.9289 15.0711C31.3195 15.4616 31.9526 15.4616 32.3431 15.0711L38.7071 8.70711ZM0 9H38V7H0V9Z"
                              fill="currentColor" />
                        </svg>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- tp-feature-area-end -->

    <!-- tp-cta-area-start -->
    <div class="tp-cta__area wow tpfadeUp" data-wow-duration=".9s" data-wow-delay=".5s">
      <div class="container p-relative">
         <div class="tp-cta__thumb">
            <img src="https://weblearnbd.net/wp/quitox/wp-content/uploads/2022/12/cta-img.png" alt="">
         </div>
         <div class="tp-cta__thumb-2 d-none d-lg-block">
            <img src="https://weblearnbd.net/wp/quitox/wp-content/themes/quitox/assets/img/cta/pf-2.png" alt="">
         </div>
         <div class="tp-cta__bg grey-bg">
            <div class="row">
               <div class="col-xl-7 col-lg-8 col-md-12">
                  <div class="tp-cta__item-left">
                     <h3 class="tp-cta__title">QR based BULK Label Print using Normal Printer.</h3>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- tp-cta-area-end -->

   <!-- tp-price-area-start -->
   {% include 'pricing_plan.html' %}
   <!-- tp-price-area-end -->





</main>

{% endblock %}