<footer>
   <!-- tp-footer-area-start -->
   <div class="tp-footer__area theme-bg pt-120 pb-50">
      <div class="tp-footer-bottom__area mt-80">
         <div class="container">
            <div class="tp-footer-bottom__border-top pt-40">
               <div class="row align-items-center">
                  <div class="col-xl-3 col-lg-3 col-md-6 col-12 order-2 order-lg-3 text-center text-md-end">
                     <div class="tp-footer-bottom__social">
                        <ul>
                           <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                           <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                           <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                           <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- tp-footer-area-end -->
</footer>