{% extends 'base.html' %}
{% block content %}

<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <a href="{% url 'create_payment' %}"><button type="button" class="btn btn-dark btn-rounded waves-effect waves-light"
                        style="margin-bottom:20px;">Create Payment</button></a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div id="basic-datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <form id="searchForm" method="GET">
                                            <div class="row">
                                                <div class="col-sm">
                                                    {{profileFilter.form.phone.label}}
                                                    {{profileFilter.form.phone}}
                                                </div>
                                                <div class="col-sm">
                                                    {{profileFilter.form.username.label}}
                                                    {{profileFilter.form.username}}
                                                </div>
                                                <div class="col-sm">
                                                    <br>
                                                    <input class="btn btn-light waves-effect" type="submit" value="Apply Filter">
                                                </div>
                                            </div>
                                            
                                            
                                        </form>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:2rem;">
                                    <div class="col-sm-12">
                                        <div class="table-responsive">
                                            <table class="table table-centered table-striped table-nowrap mb-0">
                                                <thead>
                                                    <tr>
                                                        <th>Phone Number</th>
                                                        <th>Username</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for profile in profiles %}
                                                    <tr>
                                                        <td>{{profile.phone}}</td>
                                                        <td>{{profile.username}}</td>
                                                        {% if profile.latest_payment_status %}
                                                        <td>
                                                            {% if profile.latest_payment_status == 'active' %}
                                                            <span class="badge badge-soft-success">{{profile.latest_payment_status}}</span>
                                                            {% else %}
                                                            <span class="badge badge-soft-dark">{{profile.latest_payment_status}}</span>
                                                            {% endif %}
                                                        </td>
                                                        {% else %}
                                                        <td>No payment instance found.</td>
                                                        {% endif %}
                                                    </tr>
                                                {% endfor %}                                                                                             
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                {% include 'pagination.html' with queryset=profiles custom_range=custom_range %}
                            </div>

                        </div> <!-- end card body-->
                    </div> <!-- end card -->
                </div><!-- end col-->
            </div>
            <!-- end row-->

        </div> <!-- container-fluid -->
    </div>
    <!-- End Page-content -->

    {% include 'footer.html' %}

</div>
{% endblock %}

