{% extends 'base.html' %}
{% block content %}
<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <a href="/create_payment/"><button type="button"
                            class="btn btn-dark btn-rounded waves-effect waves-light" style="margin-bottom:20px;">Create
                            Payment</button></a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div id="basic-datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                <div class="row" style="margin-top:4rem;">
                                    <div class="col-sm-12">
                                        <table id="basic-datatable"
                                            class="table dt-responsive nowrap dataTable no-footer dtr-inline collapsed"
                                            role="grid" aria-describedby="basic-datatable_info" style="width: 1195px;">
                                            <thead>
                                                <tr role="row">
                                                <tr>
                                                    <th>Username</th>
                                                    <th>Subscription Plan</th>
                                                    <th>Amount</th>
                                                    <th>Payment Date</th>
                                                    <th>Expires on</th>
                                                </tr>
                                                </tr>
                                            </thead>


                                            <tbody>

                                                <tr role="row" class="odd">
                                                    {% for payment in payments %}

                                                    <td>{{payment.profile}}</td>
                                                    <td>{{payment.subscription}}</td>
                                                    <td>{{payment.amount}}</td>
                                                    <td>{{payment.payment_date}}</td>
                                                    <td>{{payment.expiry_date}}</td>
                                                </tr>
                                                {% endfor %}


                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>

                        </div> <!-- end card body-->
                    </div> <!-- end card -->
                </div><!-- end col-->
            </div>
            <!-- end row-->

        </div> <!-- container-fluid -->
    </div>
    <!-- End Page-content -->

    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    2020 © Xeloro.
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-right d-none d-sm-block">
                        Design &amp; Develop by Myra
                    </div>
                </div>
            </div>
        </div>
    </footer>


    {% endblock %}